*{
	font-family: monospace, arial;
}

input{
	width:150px;
	height:100px;
	font-size:75px;
	border-radius:15px;
	margin:10px;
	background-color:#e8e3e3;
	color: #022954;
	border-style:none;
}

#myform{
	text-align: center;
	margin: 20px;
}

h1{
	text-align: center;
	color: #808080;
	margin-top: 60px;
	margin-bottom: 0;
}

input[name="display"]{
	color: #6e7f80;
	font-size: 50px;
}
